allow platform_app fuseblk:dir { open read remove_name search write };
allow platform_app fuseblk:file { getattr unlink write };
allow platform_app fuse_device:dir { rw_dir_perms create_dir_perms };
allow platform_app fuse_device:file { rw_file_perms create_file_perms };
allow platform_app fuse_device:filesystem getattr;
